CLERK_PUBLISHABLE_KEY=pk_test_dHJ1c3Rpbmctb3N0cmljaC02Mi5jbGVyay5hY2NvdW50cy5kZXYk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_dHJ1c3Rpbmctb3N0cmljaC02Mi5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_2xl49MMt6H0R0VrrO4D4iRo0aHwyBvMJFfpfRmLDlv

# Database connection URLs for Neon PostgreSQL
DATABASE_URL=postgresql://neondb_owner:npg_sEoDhc6CH5IW@ep-misty-mode-a15rdjl2-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DATABASE_URL_UNPOOLED=postgresql://neondb_owner:npg_sEoDhc6CH5IW@ep-misty-mode-a15rdjl2-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

GEMINI_API_KEY=AIzaSyDNECvjhMMpGJ3cNXvV5GMrauFYj8AYePc
NEXT_PUBLIC_GA_ID=G-BHR5EWC5TF
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/dashboard

# Firebase Configuration
GOOGLE_APPLICATION_CREDENTIALS="./firebase-service-account.json"
FIREBASE_PROJECT_ID="home-planning-app"

NOTIFICATION_ENABLED=true